<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head'); -%>
</head>
<body>

   <%- include('partials/navbar'); -%>
   <main class="container">
      <header class="jumbotron my-4">
         <h1 class="display-3">Welcome to Simplepost!</h1>
         <p class="lead">An application for to post to a wall and comment on those posts</p>
      </header>
      <section class="row text-center">
         <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you.</p>
         </section>
         <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
         </section>
      </section>
   </main>

   <%- include('partials/baseScripts'); -%>
</body>
</html>